//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
//@theme "/home/criiscz/.local/share/rofi/themes/windows11-grid-dark.rasi"
//@theme "/home/criiscz/.local/share/rofi/themes/windows11-list-dark.rasi"
//@theme "/home/criiscz/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/criiscz/.local/share/rofi/themes/nord-twoLines.rasi"
//@theme "/home/criiscz/.local/share/rofi/themes/spotlight-dark.rasi"
@theme "/home/criiscz/.local/share/rofi/themes/squared-nord.rasi"
